<main class="card-container ">
    <h2 class="titulo">Inicio de Sesion</h2>

    <form class="form-container" [formGroup]="form">
        <div class="input">
            <label>Correo Electrónico</label>
            <input type="email" placeholder="Tu correo" formControlName="email" />
            <small [style.visibility]="email?.invalid && email?.touched ? 'visible' : 'hidden'">
                Ingresar un mail válido.
            </small>
        </div>

        <div class="input">
            <label>Contraseña</label>
            <input type="password" placeholder="Contraseña" formControlName="password" />
            <small [style.visibility]="password?.invalid && password?.touched ? 'visible' : 'hidden'">
                La contraseña debe contener un mínimo de 6 caracteres.
            </small>
        </div>
        <div class="input">
            <label>Captcha</label>
            <div appCaptcha formControlName="captcha"></div>
            <small [style.visibility]="captcha?.invalid && captcha?.touched ? 'visible' : 'hidden'">
                Completar el captcha.
            </small>
        </div>
    </form>
    
    <button type="button" class="btn-1" (click)="login()">Ingresar</button>
    <p class="registro-texto">
        ¿No tenés cuenta?
        <button type="button" class="btn-registro" (click)="goTo('registro')">Registrate</button>
    </p>

</main>

<div class="fab-container">
    <button matFab extended (click)="autocompletar('administrador')">
        <mat-icon>crown</mat-icon>
        Administrador
    </button>

    <button matFab extended (click)="autocompletar('especialista')">
        <mat-icon>stethoscope</mat-icon>
        Especialista
    </button>

    <button matFab extended (click)="autocompletar('paciente')">
        <mat-icon>personal_injury</mat-icon>
        Paciente
    </button>
</div>