.historia-clinica-modal {
    background: #f1f3f6;
    padding: 10px;
    overflow-y: auto;
}

/* barra visible */
.historia-clinica-modal::-webkit-scrollbar {
    width: 10px;
}

/* track con recorte arriba y abajo → hace la barra “más corta” */
.historia-clinica-modal::-webkit-scrollbar-track {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* la barra en sí */
.historia-clinica-modal::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 6px;
}

.preguntas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 16px;
}

.acciones {
    display: flex;
    gap: 12px;
}

.item {
    display: flex;
    flex-direction: column;
}