<main class="card-container">
    <h2 class="titulo">Informes</h2>

    <mat-tab-group class="tabs" (selectedTabChange)="onTabChange($event)">

        <!-- Logs -->
        <mat-tab label="Logs">
            <button mat-button (click)="descargarPdfLogs()">
                Descargar PDF
            </button>

            <table matSort (matSortChange)="sortData($event)" class="tabla-logs">
                <thead>
                    <tr>
                        <th mat-sort-header="usuario">Usuario</th>
                        <th mat-sort-header="mail">Mail</th>
                        <th mat-sort-header="perfil">Perfil</th>
                        <th mat-sort-header="created_at">Ingreso</th>
                    </tr>
                </thead>

                <tbody>
                    @for (log of logsSortedData; track log.id) {
                    <tr>
                        <td>{{ log.usuario | nombreCompleto }}</td>
                        <td>{{ log.usuario.email }}</td>
                        <td>{{ log.usuario.perfil | capitalizeAll }}</td>
                        <td>{{ log.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </mat-tab>

        <!-- Cantidad turnos por especialidad -->
        <mat-tab label="Turnos por Especialidad">
            <button mat-button (click)="descargarGraficoTurnosPorEspecialidad()">
                Descargar PDF
            </button>
            <canvas #graficoTurnosPorEspecialidades></canvas>
        </mat-tab>

        <!-- Cantidad turnos por dia -->
        <mat-tab label="Turnos por Dia">
            <button mat-button (click)="descargarGraficoTurnosPorDia()">
                Descargar PDF
            </button>
            <canvas #graficoTurnosPorDia></canvas>
        </mat-tab>

        <!-- Cantidad turnos solicitados por especialista en lapso tiempo -->
        <mat-tab label="Turnos solicitados por especialista">
            <button mat-button (click)="descargarGraficoTurnosPorDia()">
                Descargar PDF
            </button>
            <mat-form-field>
                <mat-label>Seleccione el ranfo</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date">
                    <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            
            <canvas #graficoTurnosSolicitadosEspecialistaLapsoTiempo></canvas>
        </mat-tab>

    </mat-tab-group>
</main>